body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: #000;
}

#juego {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}